{% extends 'base.html.twig' %}

{% block title %}Modele{% endblock %}

{% block body %}


    <h1>Création d'un Modèle</h1>
    {# form(formView) #}
    {%  include "modele/_form.html.twig" %}

    <a href="{{path('modele_index')}}" class="btn btn-primary">Retour à la liste</a>


{% endblock %}
