{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}


    <h1>Création d'une Marque</h1>
    {# form(formView) #}
    {%  include "marque/_form.html.twig" %}

    <a href="{{path('marque_index')}}" class="btn btn-primary">Retour à la liste</a>


{% endblock %}
